* {
  box-sizing: border-box;
  font-family: var(--ff-1);
}

body {
  background-color: var(--clr-2);
  margin: 0;
  overflow-x: hidden;
}

* button:hover{
  cursor: pointer;
}

:root {
  --clr-1: rgba(33, 42, 62, 1);
  --clr-2: rgba(245, 245, 245, 1);
  --clr-3: rgba(100, 233, 177, 1);
  --clr-4: rgba(107, 254, 192, 1);
  --clr-5: rgba(229, 229, 229, 1);
  --clr-6: rgba(241, 241, 241, 1);
  --clr-7: rgba(235, 83, 83, 1);
  --clr-8: rgba(254, 254, 254, 1);
  --ff-1: "Poppins", sans-serif;
}

/* ----- HEADER ------*/

header {
  height: 7.2rem;
  background-color: var(--clr-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;  
  position: sticky;
  left: 0;
  right: 0;
  z-index: 999;
}

.div-logo {
  min-width: 260px;
}

.logo {
  position: absolute;
  left: 28px;
  top: 3px;
}

.logo img {
  width: 202px;
  height: 115px;
}

.div-loginicon {
  float: right;
  background-color: aqua;
}

.div-mainheading {
  color: var(--clr-2);
  flex-grow: 1;
  height: 5rem;
  min-width: 20rem;
  border-left: 1px solid var(--clr-2);
  padding-left: 35px;
  display: flex;
  align-items: center;
}

.div-mainheading > h1 {
  font-family: var(--ff-1);
  font-size: 50px;
  text-align: center;
}

.div-usericon {
  min-width: 100px;
  border: 1px solid white;
}

.userlogin{ 
  position: relative;
   height: 100%;
   
 }
 .userlogin img {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   right: 30px;
   width: 36px;
   height: 36px;
 }
 .usermenu {
   
   border: none ;
   position: absolute;
   top: 85px;
   right: 36px;
   background-color: var(--clr-3);
   width: 152px;
   height: 99px;
   padding: 0 4px;
  border-radius: 0px 0px 4px 4px;
 }
 @media (max-width: 45em) {
   .header .usermenu {
     display: none;
   }
 }
 
 .menu-btn {
   
 
   display: flex;
   align-items: center;
   justify-content: flex-start;
   height: 33px;
   width: 140px;
   background-color: var(--clr-3);
   font-family: var(--ff-1);
   font-size: 14px;
  font-weight: 400;
   line-height: 21px;
   border:none;
   border-bottom: 0.5px solid black;
   padding-left: 8px;
 
 }
 .menu-btn:last-child{
   border: none;
 }
 
 
 .user-icon {
   height: 15px;
   width: 15px;
   margin-right: 16px;
   
   
 }
 .logout-icon{
   height: 16px;
   width: 14px;
   margin-right: 16px;
 }
 .exchange-icon{
   height: 16px;
   width: 16px;
   margin-right: 16px;

 }

/* ----- MAIN ----- */
main {
  height: 54rem;
  display: flex;
}

/* ----- SIDEBAR ----- */
.sidebar {
  width: 16.25rem;
  background-color: var(--clr-1);
  height: 54rem;
}

.sb-btn-container {
  width: 220px;
  height: 700px;
  margin-top: 4rem;
  margin-left: 20px;
  margin-right: 20px;
}

.sb-btn {
  width: 218px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sb-btn > button {
  height: 40px;
  width: 218px;
  border-radius: 5px;
  background-color: var(--clr-3);
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 23px;
}

.sb-btn > button > span {
  margin: 10px 8px;
  color: var(--clr-1);
  font-family: var(--ff-1);
  font-size: 16px;
  font-weight: bold;
}

.sub-menu {
  position: relative;
  margin: -23px 12px 2px;
  display: flex;
  flex-direction: column;
  background-color: var(--clr-4);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sub-menu button {
  height: 40px;
  background-color: var(--clr-4);
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  margin: 0 7px;
  border-bottom: 1px solid var(--clr-1);
}

.sub-menu button:last-child {
  border-bottom: none;
}

.sub-menu button:hover {
  background-color: var(--clr-3);
  margin: 0;
  cursor: pointer;
  padding: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sub-menu button:hover span {
  font-weight: 600;
}

.sub-menu > button > span {
  color: var(--clr-1);
  font-family: var(--ff-1);
  font-size: 14px;
  font-weight: 500;
}

/* ----- CONTENT ----- */
.content {
  height: 54rem;
  flex: 1;
}

.content-default-1 {
  background-color: var(--clr-5);
  padding-bottom: 5rem;
  height: inherit;  
}

/* -----CONTENT COMPASS-----*/

.content-compass{
  display: flex;
  margin-left: 2rem;  
  font-family: var(--ff-1);
  font-weight: 600;
  color: var(--clr-1);
  
}

.content-compass p{  
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-compass p:first-child{
  font-size: 1.125rem;
  margin-right: 1rem;  
}

.content-compass p:last-child{
  font-size: 0.75rem;
  border-left: 2px solid var(--clr-1);
  padding-left: 0.9rem;
}


/* ----- TAG İŞLEMLERİ ----- */
            /* ----- PAGING SELECTOR ----- */
.paging-searching{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.paging-searching .paging-selector{  
  margin-left: -6rem;
  font-size: 0.75rem;
}

.paging-searching .paging-selector select{
  border: none;
  border-bottom: 2px solid var(--clr-3);
}

/* ----- SEARCH BAR ----- */
.paging-searching .search-bar{
  margin-right: -6rem;
  border: none;
  font-size: 12px;
}

.paging-searching .search-bar input{  
  border: none;
  border-radius: 5px;
}

/* ----- PAGINATION ----- */
.pagination-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
  margin-right: -6rem;
}

.pagination-container button{
  border: none;
  font-weight: 500;
  background-color: inherit;
}

.pagination-container button:nth-child(2){
  font-size: 1rem;
  font-weight: 600;
  color: var(--clr-2);
  background-color: var(--clr-1);
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.pagination-container button:nth-child(3){
  font-size: 1rem;
  font-weight: 600;
}

.tag-container {
  background-color: var(--clr-6);
  margin-left: 2rem;
  margin-right: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 10rem;
  padding-right: 10rem;
  align-content: center;
  border-radius: 7.5px;
}

.add-tag {
  margin-top: 2rem;
  margin-bottom: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  min-width: 30rem;
}

.add-tag button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--clr-3);
  font-family: var(--ff-1);
  font-size: 14px;
  font-weight: 600;
  border: none;
  margin-top: 0.5rem;
}

.add-tag button:hover {
  cursor: pointer;
}

.add-tag input {
  height: 3rem;
  width: 18.75rem;
  margin-right: 30px;
  border: none;
  border-bottom: 1px solid black;
  background-color: var(--clr-6);
  font-size: 24px;
}

.add-tag input::placeholder {
  font-family: var(--ff-1);
  font-size: 16px;
  font-weight: 300;
}

.add-tag input:focus {
  outline: none;
  padding-left: 1rem;
}

/*----- TAG TABLOSU ------ */
.table-div {
  height: 100%;
  min-width: 460px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10rem;
  margin-right: 8rem;
  overflow-y: auto;
}

.tag-table td button{
  background-color: inherit;
}

.tag-table th,td{
  border-bottom: 1px solid var(--clr-5);
  font-family: var(--ff-1);
  font-size: 12px;
  height: 2.5rem;
}

.tag-table th:first-child,
.tag-table td:first-child {
  min-width: 2rem;
  text-align: left;
}

.tag-table th:nth-child(2),
.tag-table td:nth-child(2) {
  min-width: 15rem;
  text-align: left;
}

.tag-table th:last-child,
.tag-table td:last-child {
  min-width: 5rem;
  text-align: left;  
}

.tag-table td:last-child button{
  margin-left: -7px;
  margin-right: 5px;
  border: none;
}


/* ------- ADDUSER --------- */
.addUser-container {
  background-color: var(--clr-6);
  margin-left: 2rem;
  margin-right: 2rem;
  height: 100%;
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 7.5px;
}
.addUser-inbox{
  background-color: var(--clr-8);
  margin: auto;
  height: 80%;
  padding-left: 5rem;
  min-width: 55rem;
  justify-content: flex-start;

}
.add-user {
  margin-top: 4.5rem;
  margin-bottom: 3.6rem;
  height: 3rem;
  display: flex;
  min-width: 50rem;
  flex-direction: column;
}

.btn-addUser-section{
  display: flex;
  margin-top: 35px;
  margin-left: 5rem;
}

.add-user button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--clr-3);
  font-family: var(--ff-1);
  font-size: 14px;
  font-weight: 600;
  border: none;
  vertical-align: middle;
  margin-top: 0.5rem;
  display: inline-block;
  justify-content:center;
  margin-left: 50px;

}

.add-user button:hover {
  cursor: pointer;
}

.add-user button:last-child {
  background-color:var(--clr-7);
  margin-left: 10px;
}

.add-user span{
  font-family: var(--ff-1);
  font-size: 14px;
}

.add-user input {
  height: 3rem;
  width: 30rem;
  margin-right: 30px;
  border: black 2px;
  border-bottom: 1px solid black;
  background-color: var(--clr-8);
  font-size: 12px;
  margin-bottom: 30px;
}

.add-user input::placeholder {
  font-family: var(--ff-1);
  font-size: 12px;
  font-weight:100;
  font-style: italic;
}

.add-user input:focus {
  outline: none;
  padding-left: 1rem;
}

/* -------- ALL USERS ---------- */
.allUser-container {
  background-color: var(--clr-6);
  margin-left: 2rem;
  margin-right: 2rem;
  height: 100%;
  padding-left: 8.5rem;
  padding-right: 7.5rem;
  border-radius: 7.5px;
  border-radius: 7.5px;
  overflow-y: auto;
}

.allUser-table-div {
  height: 100%;
  min-width: 460px;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  padding-left: 1px;
  margin-left: 1px;
}
.user-table td button{
  background-color: inherit;
}

.user-table {
  padding-left: 5px;
}

.user-table th,td{
  border-bottom: 1px solid var(--clr-5);
  font-family: var(--ff-1);
  font-size: 12px;
  height: 2.5rem;
}

.user-table th:first-child,
.user-table td:first-child {
  width: 30rem;
  text-align: left;
}

.user-table th:nth-child(2),
.user-table td:nth-child(2) {
  width: 30rem;
  text-align: left;
}

.user-table th:nth-child(3),
.user-table td:nth-child(3) {
  width: 35rem;
  text-align: left;
}

.user-table th:nth-child(4),
.user-table td:nth-child(4) {
  width: 30rem;
  text-align: left;
}
.user-table th:nth-child(5),
.user-table td:nth-child(5) {
  width: 30rem;
  text-align: left;
}
.user-table th:last-child,
.user-table td:last-child {
  width: 30rem;
  text-align: left;
}

.user-table td:last-child button{
  margin-left: -7px;
  margin-right: 5px;
  border: none;
}

/* ------ ALL STUDENTS ------- */

.allStudents-container {
  background-color: var(--clr-6);
  margin-left: 2rem;
  margin-right: 2rem;
  height: 100%;
  padding-left: 8.5rem;
  padding-right: 7.5rem;
  border-radius: 7.5px;
  border-radius: 7.5px;
  overflow-y: auto;
}

.allStudent-table-div {
  height: 100%;
  min-width: 460px;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  padding-left: 1px;
  margin-left: 1px;
}
.student-table td button{
  background-color: inherit;
}

.student-table {
  padding-left: 5px;
}

.student-table th,td{
  border-bottom: 1px solid var(--clr-5);
  font-family: var(--ff-1);
  font-size: 12px;
  height: 2.5rem;
}

.student-table th:first-child,
.student-table td:first-child {
  width: 30rem;
  text-align: left;
}

.student-table th:nth-child(2),
.student-table td:nth-child(2) {
  width: 30rem;
  text-align: left;
}

.student-table th:nth-child(3),
.student-table td:nth-child(3) {
  width: 35rem;
  text-align: left;
}

.student-table th:nth-child(4),
.student-table td:nth-child(4) {
  width: 30rem;
  text-align: left;
}
.student-table th:nth-child(5),
.student-table td:nth-child(5) {
  width: 30rem;
  text-align: left;
}
.student-table th:last-child,
.student-table td:last-child {
  width: 30rem;
  text-align: left;
}

.student-table td:last-child button{
  margin-left: -7px;
  margin-right: 5px;
  border: none;
}


/* ------ All TRAINERS --------- */

.allTrainers-container {
  background-color: var(--clr-6);
  margin-left: 2rem;
  margin-right: 2rem;
  height: 100%;
  padding-left: 8.5rem;
  padding-right: 7.5rem;
  border-radius: 7.5px;
  border-radius: 7.5px;
  overflow-y: auto;
}

.allTrainer-table-div {
  height: 100%;
  min-width: 460px;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  padding-left: 1px;
  margin-left: 1px;
}
.trainer-table td button{
  background-color: inherit;
}

.trainer-table {
  padding-left: 5px;
}

.trainer-table th,td{
  border-bottom: 1px solid var(--clr-5);
  font-family: var(--ff-1);
  font-size: 12px;
  height: 2.5rem;
}

.trainer-table th:first-child,
.trainer-table td:first-child {
  width: 30rem;
  text-align: left;
}

.trainer-table th:nth-child(2),
.trainer-table td:nth-child(2) {
  width: 30rem;
  text-align: left;
}

.trainer-table th:nth-child(3),
.trainer-table td:nth-child(3) {
  width: 35rem;
  text-align: left;
}

.trainer-table th:nth-child(4),
.trainer-table td:nth-child(4) {
  width: 30rem;
  text-align: left;
}
.trainer-table th:nth-child(5),
.trainer-table td:nth-child(5) {
  width: 30rem;
  text-align: left;
}
.trainer-table th:last-child,
.trainer-table td:last-child {
  width: 30rem;
  text-align: left;
}

.trainer-table td:last-child button{
  margin-left: -7px;
  margin-right: 5px;
  border: none;
}
/* -------SEND SURVEY PASSİVE------- */

.sendSurveyPassive-container {
  background-color: var(--clr-6);
  margin-left: 2rem;
  margin-right: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 7.5px;
}
.sendSurveyPassive-inbox{
  background-color: var(--clr-8);
  height: 80%;
  margin: auto;
  padding-left: 5rem;
  min-width: 55rem;
  justify-content: flex-start;
}

.send-surveyPassive {
  margin-top: 4.5rem;
  margin-bottom: 3.6rem;
  height: 3rem;
  display: flex;
  min-width: 700px;
  justify-content: center;
}

.send-surveyPassive button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--clr-3);
  font-family: var(--ff-1);
  font-size: 14px;
  font-weight: 600;
  border: none;
  margin-top: 0.5rem;
}

.send-surveyPassive button:hover {
  cursor: pointer;
}
.send-surveyPassive input {
  height: 3rem;
  width: 30rem;
  margin-right: 30px;
  border: none;
  border-bottom: 1px solid black;
  background-color: var(--clr-8);
  font-size: 16px;

}

.send-surveyPassive input::placeholder {
  font-family: var(--ff-1);
  font-size: 16px;
  font-weight: 200;
}

.send-surveyPassive input:focus {
  outline: none;
  padding-left: 1rem;
}



/* -------CREATE SURVEY------- */

.createSurvey-container {
  background-color: var(--clr-6);
  margin-left: 2rem;
  margin-right: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
  align-content: center;
  border-radius: 7.5px;

}

.createSurvey-inbox{
  background-color: var(--clr-8);
  height: 80%;
  margin: auto;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  min-width: 55rem;
  justify-content: flex-start;
}

.create-survey {
  margin-top: 15rem;
  margin-bottom: 3.6rem;
  height: 3rem;
  display: flex;
  min-width: 700px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-survey button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--clr-7);
  font-family: var(--ff-1);
  font-size: 14px;
  font-weight: 600;
  border: none;
  margin-top: 6rem;
  vertical-align: middle;
  display: inline-block;
  justify-content: center;
}

.create-survey button:hover {
  cursor: pointer;
}

.create-survey input {
  height: 3rem;
  width: 30rem;
  margin-right: 30px;
  border: none;
  border-bottom: 1px solid black;
  background-color: var(--clr-8);
  font-size: 16px;
  margin-bottom: 2rem;
}

.create-survey input::placeholder {
  font-family: var(--ff-1);
  font-size: 16px;
  font-weight: 300;
}

.create-survey input:focus {
  outline: none;
  padding-left: 1rem;
}


.arrow-circle{
  margin-bottom: 0.5rem;
  padding-top: 5rem;
  margin: auto;
  margin-bottom: 1rem;
  display: inline-block;
}

/* -------ASSİGN STUDENT PASSİVE------- */

.assignStudentPassive-container {
  background-color: var(--clr-6);
  margin-left: 2rem;
  margin-right: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
  align-content: center;
  border-radius: 7.5px;
}
.assignStudentPassive-inbox{
  background-color: var(--clr-8);
  height: 80%;
  margin: auto;
  padding-left: 5rem;
  min-width: 55rem;
  justify-content: flex-start;
}

.assign-studentPassive {
  margin-top: 4.5rem;
  margin-bottom: 3.6rem;
  height: 3rem;
  display: flex;
  min-width: 700px;
  justify-content: center;
}

.assign-studentPassive button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--clr-3);
  font-family: var(--ff-1);
  font-size: 14px;
  font-weight: 600;
  border: none;
  margin-top: 0.5rem;
}

.assign-studentPassive button:hover {
  cursor: pointer;
}
.assign-studentPassive input {
  height: 3rem;
  width: 30rem;
  margin-right: 30px;
  border: none;
  border-bottom: 1px solid black;
  background-color: var(--clr-8);
  font-size: 16px;
}

.assign-studentPassive input::placeholder {
  font-family: var(--ff-1);
  font-size: 16px;
  font-weight: 200;
}

.assign-studentPassive input:focus {
  outline: none;
  padding-left: 1rem;
}

/* ------- LIST SURVEYS --------- */

.table-div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 4rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.survey-table th,td{
  border-bottom: 1px solid var(--clr-5);
  font-family: var(--ff-1);
  font-size: 12px;
  height: 2.5rem;
}

.survey-table th:first-child,
.survey-table td:first-child {
  width: 2rem;
  text-align: left;
}

.survey-table th:nth-child(2),
.survey-table td:nth-child(2) {
  width: 15rem;
  text-align: left;
}

.survey-table th:nth-child(3),
.survey-table td:nth-child(3) {
  width: 15rem;
  text-align: center;
}

.survey-table th:nth-child(4),
.survey-table td:nth-child(4) {
  width: 8rem;
  text-align: left;
}
.survey-table th:nth-child(5),
.survey-table td:nth-child(5) {
  width: 9rem;
  text-align: left;
}
.survey-table th:last-child,
.survey-table td:last-child {
  width: 1rem;
}

button{
  border: none;
}

#speech-bubble {
  width: 110px;
  height: 70px;
  background: var(--clr-1);
  position: relative;
  left: -30px;
  top: -35px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: none;


}
#speech-bubble:before {
  content:"";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 33px solid transparent;
  border-right: 36px solid  var(--clr-1);
  border-bottom: 13px solid transparent;
  margin: 20px 0 0 -25px;
}
#speech-bubble span{
  width: 100%;
  height:100%;
  position: absolute;
  padding: 0.5rem;
  color: whitesmoke;
  text-align: center;
  padding-top: 1rem;


}

/* ------------------------------ */
/*  ------SORU EKLEME      */


.question-text-area {
  border: none;
  width: 650px;
  height: 120px;
  margin: 0 69px 12px 57px;
  margin-bottom: 12px;
  text-align: left;
  font-family: var(--ff-1);
  font-size: 15px;
  font-weight: 300;
  line-height: 23px;
  padding: 10px;
  font-style: italic;
  letter-spacing: 0em;


}
.content-com p:last-child {
  padding-left: 57px;
  margin-top: 88px;
  font-family: var(--ff-1);
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;

}

.question-type {
  height: 69px;
  display: flex;
  align-items: center;
  margin-left: 57px;
}



.question-type label {
  margin-right: 26px;
}

.question-tag label {
  margin-right: 4px;

}
.question-tag {
  margin-left: 57px;
  margin-bottom: 12px;
  position: relative;

}

.question-tag .addIcon {
  width: 20px;
  height: 20px;
  margin-left: 14px;
  transform: translateY(25%);

}
.addIcon-button {
  border: none;


}
.button-container {
  display: flex;
  align-items: center;
  border: none;
  position: relative;
}

.button-container button {
  position: absolute;
  width: 120px;
  height: 55px;
  right: 200px;
  border-radius: 5px;
  background-color: var(--clr-5);
  font-family: var(--ff-1);
  font-size: 14px;
  font-weight: 600;
  border: none;
  margin-top: 0.5rem;
}

.tagIcon {
  width: 12.5px;
  height: 14.2px;
  margin-right: 5px;
}

.removeIcon {
  width: 15px;
  height: 15px;

}

.remove-button {
  border: none;
  background-color: var(--clr-5);
  align-self: flex-start;
}



.selected-tags {
  margin-top: 12px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.selected-tags ul {
  display: flex;
  flex-wrap: wrap;

  border-radius: 5px;

}

.selected-tags ul li {
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  background-color: var(--clr-5);
  height: 30px;
  border-radius: 5px;
}


/* ------- ASSIGN SURVEYS --------- */


.assignSurvey{
  height: 25rem;
  /*border: solid red 2px;*/
  padding: 1rem;
}

.surveyDetails{
  height: 75%;
  /*border: solid green 1px;*/
  padding: 1rem;
  display: flex;
  font-size: larger;

}
.left{
  margin-top: 2rem;
  width: 25%;
  /*border: solid rgb(217, 106, 237) 1px;*/
  margin-right: 0.2rem;
}
.right{
  margin-top: 2rem;
  width: 70%;
  /*border: solid rgb(200, 110, 32) 1px;*/
}
.surveyButtons{
  height: 25%;
  /*border: solid purple 1px;*/
  display: flex;
  justify-content: center;
}
.btnAtamaYap{
  background-color: var(--clr-3);
  height: 3rem;
  margin-right: 2rem;
}
.btnVazgec{
  background-color: red;
  height: 3rem;
}
/* -------------------------------- */