*{
  box-sizing: border-box;
}

body{
  background-color:var(--clr-2);
  margin: 0;
}

:root{
  --clr-1:rgba(33, 42, 62, 1);
  --clr-2: rgba(245, 245, 245, 1);
  --clr-3: rgba(100, 233, 177, 1);
  --ff-1: 'Poppins', sans-serif;
}


header{
  height: 115px;
  background-color: var(--clr-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.div-logo{
  min-width: 260px;
}

.logo {
  position: absolute;
  left: 28px;
  top: 3px;
}

.logo img {  
  width: 202px;
  height: 115px; 
}

.div-mainheading{
  color: var(--clr-2);
  flex-grow: 1;
  height: 80px;
  min-width: 400px;
  border-left: 1px solid var(--clr-2);
  padding-left: 35px;
  display: flex;
  align-items: center;
  
}

.div-mainheading > h1{
  font-family: var(--ff-1);
  font-size: 50px;
  text-align: center;
}

.div-usericon{
  min-width: 100px;
  border: 1px solid white;
}



main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 86vh;
  background-color:  var(--clr-1);
}

main > .content{
  height: 65vh;
  width: 45%;
  background-color: #a3a1a1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.loginContent{
  width: 55%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input{
  width: 100%;
  height: 2rem;
  background-color: inherit
}

input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: var(--clr-1);
  margin-top: 1rem;
  
}
input:focus {
  border-color: var(--clr-3);
  outline: 1px dotted #000
}

::placeholder { 
  color: var(--clr-2);
  opacity: 0.7; 
  color: rgba(33, 42, 62, 1);
}
span{
  color: var(--clr-2);
}
button{
  margin: auto; /* Centers horizontally */
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-top: 2rem;
  background-color: rgba(33, 42, 62, 1);
  color: #64E9B1;
  border-radius: 10px;
}

.ctop{
  
  padding: 5%;
  background-color: rgb(211, 208, 208);
  width: 35rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;

}

.user-menu{
  padding: 5%;
  background-color: rgb(233, 227, 227);
  width: 30rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.username {
  background-color: transparent;
  color: rgba(33, 42, 62, 1);
  font-weight:bold;
  font-size: 20px;
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 10px;
}

.password {
  background-color: transparent;
  color: rgba(33, 42, 62, 1);
  font-weight:bold;
  font-size: 20px;
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 10px;
}

.placeholder-input {
  color: rgba(33, 42, 62, 1);
  font-size: 16px;
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 10px;
}

.content{
  background-color: red;
  text-align: center;
  width: 100%;
  margin: 2rem;
}

